<?xml version="1.0" encoding="UTF-8" ?>
<!--
    Logging Configuration.
-->
<configuration scan="false" debug="false">

  <!-- <statusListener class="ch.qos.logback.core.status.NopStatusListener" /> -->

  <variable name="LOGBACK_LEVEL" value="${LOGBACK_LEVEL:-INFO}" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss}) [%green(%-32t)] %highlight(%-5p) %blue(%-50c{50}) | %m%n</pattern>
    </encoder>
  </appender>

  <logger name="com.zaxxer.hikari.pool" level="WARN" />
  <logger name="java" level="WARN" />
  <logger name="jdk" level="WARN" />
  <logger name="org.apache.http" level="WARN" />
  <!-- <logger name="org.mbari.oni.jpa.repositories" level="DEBUG" /> -->
  <!-- Hibernate after 6 DEBUG -->
  <logger name="org.hibernate.SQL" level="DEBUG" />
  <logger name="org.hibernate.orm.results" level="INFO" />
  <!-- <logger name="org.hibernate.orm.jdbc.bind" level="trace" /> -->
<!--   <logger name="org.hibernate.stat" level="debug" />-->
<!--  <logger name="org.hibernate.SQL_SLOW" level="DEBUG" />-->
<!--  <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />-->

  <!-- Tracing group. Must also set hibernate.generate_statistics=true in the persistence.xml -->
<!--  <logger name="org.hibernate.engine.transaction.internal.TransactionImpl" level="DEBUG" />-->
<!--  <logger name="org.hibernate.stat.internal.StatisticsImpl" level="DEBUG" />-->

  <!-- <logger name="org.hibernate.cache" level="debug" /> -->
  <logger name="sun" level="WARN" />

  <root level="${LOGBACK_LEVEL}">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>